.filter {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width:14.5rem;

    label {
        font-weight: bold;
    }

    .filter-select{
        width:14.5rem;
    }

}