.filterstatus {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid black;
    width: 30rem;

    .filter-name {
        width: 10rem;

    }

}