.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color:white;
  color: black;
  justify-content: space-between;
  padding:3rem;

  .App-header--Analysis {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}



