.App {
  text-align: center;
  padding:0.5rem;


  .App-header {
    color: white;
    padding:0.5rem;
    background-color: rgb(38, 0, 255);
    text-align: center;

  } 


  .App-panel {
    display:flex;
    flex-direction: row;

    .App-filters {
      display: flex;
      flex-direction: row;
      align-items: start;
    }


  }





}



