.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color:white;
  color: white;
  justify-content: space-between;
  padding:0.5rem;
  background-color: rgb(38, 0, 255);

  h1 {
    margin-left:50rem;
  }



  .App-header--Analysis {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right:3rem;
  }
}



